.base {
  font-size: 1.6rem;
  padding: 2.5rem .8rem 0 .8rem;

  & > div {
    width: 100%;
  }

  .note {
    border-radius: 0;
    color: $postHeadFont;
    margin-bottom: 1.5rem;
    padding: 1.5rem 2rem 0.1rem 2rem;

    @media only screen and (min-width: $boundSize) {
      border-radius: 0 .8rem 0 0;
    }
  }
}