.container {
  background-color: $primaryColor;
  box-shadow: 0 .3rem 1.5rem 0 $shadowColor;
  padding: 0 1.5rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: $boundSize) {
    flex-direction: row;
  }
}

// Components
.division {
  box-shadow: 0 1rem 1rem -1rem $normalFont inset;
  border: 0;
  height: 1rem;
  margin-top: 1rem;
}

.badge {
  align-self: center;
  background-color: $normalFont;
  border-radius: 50%;
  color: $primaryColor;
  display: block;
  font-size: 1.1rem;
  height: 1.6rem;
  line-height: 1.6rem;
  text-align: center;
  width: 1.6rem;
}


.tag {
  background: $tagBackgroundColor;
  border-radius: .3rem 0 0 .3rem;
  color: $normalFont;
  display: inline-block;
  height: 2.6rem;
  line-height: 2.6rem;
  padding: 0 1.5rem 0 2rem;
  position: relative;
  margin: 0 1rem 1rem 0;
  text-decoration: none;
  transition: color 0.2s;
}

.tag::before {
  background: $primaryColor;
  border-radius: 1rem;
  box-shadow: inset 0 .1rem rgba(0, 0, 0, 0.25);
  content: '';
  height: .6rem;
  left: 1rem;
  position: absolute;
  width: .6rem;
  top: 1rem;
}

.tag::after {
  background: $primaryColor;
  border-bottom: 1.3rem solid transparent;
  border-left: 1rem solid #eee;
  border-top: 1.3rem solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: $normalFont;
  box-shadow: inset 0 .1rem rgba(0, 0, 0, 0.25);
  color: $primaryColor;
}

.tag:hover::after {
   border-left-color: $normalFont;
}