.content {
  flex: $contentSize;
  padding: 1.5rem 0 0 0;

  @media only screen and (min-width: $boundSize) {
    align-self: flex-start;
    padding: 0 0 0 1.5rem;
  }

  @media only screen and (min-width: $boundLargeScreenSize) {
    flex: $contentLargeSize;
  }
}

.content-container {
  border-radius: 0;
  padding-top: 1.5rem;

  @media only screen and (min-width: $boundSize) {
    border-radius: 0 .8rem 0 0;
  }
}

.content-item {
  margin: 3rem;

  & > h3 {
    font-size: 2rem;
    line-height: 3.2rem;

    i {
      color: $normalFont;
    }

    a {
      color: $contentTitleFont;
    }

    a:hover {
      color: $contentTitleHoverFont;
      text-decoration: underline;
    }
  }

  & > h4 {
    line-height: 2.6rem;
    margin-bottom: .8rem;
  }

  & > p {
    line-height: 2.4rem;

    a {
      border-bottom: solid .1rem $linkFont;
      transition: border-bottom .1s ease-in-out;
    }

    a:hover {
      border-bottom: solid .3rem $linkFont;
    }

    span {
      font-size: 1rem;
    }
  }
}