.footer {
  bottom: 0;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  left: 0;
  line-height: 3.2rem;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: $footerZIndex;

  .record-words {
    color: $footerRemarkWords;
  }
}