.header {
  font-size: 1.8rem;
  margin: 1.2rem 0 0 0;
  padding: 0 1.5rem;
  width: 100%;

  p {
    margin: 0;
    padding: 0;
  }

  & > * {
    display: flex;

    @media only screen and (min-width: $boundSize) {
      padding-left: 2.5rem;
    }
  }
}

.header-avator {
  flex: $headerAvatar;
  height: 7.2rem;

  @media only screen and (min-width: $boundSize) {
    height: auto;
  }

  & > a > img {
    align-self: center;
    border-radius: 50%;
    height: 6.4rem;
    width: 6.4rem;

    @media only screen and (min-width: $boundSize) {
      height: 3.2rem;
      width: 3.2rem;
    }
  }
}

.header-nav {
  flex: $headerNav;
  height: 4.2rem;
  line-height: 4.2rem;
  a:nth-child(2) {
    width: 8rem;
  }
}

.header-social {
  display: flex;
  flex: $headerSocial;
  justify-content: flex-end;

  & > a {
    color: $normalFont;
    font-size: 1.2rem;
    padding: .5rem .3rem;

    @media only screen and (min-width: $boundSize) {
      padding: 0 .3rem;
    }
  }

  & > a:hover {
    color: $linkHoverFont;
  }
}