.header {
  background-color: $primaryColor;
  box-shadow: 0 .8rem 3.5rem 0 $shadowColor;
  font-size: 1.2rem;
  height: 3.6rem;
  line-height: 3.6rem;
  position: fixed;
  top: 1.5rem;
  width: 100%;
}