
.post {
  padding: 5.5rem;

  // Override and re-style the markdown.
  .highlight {
    white-space: pre-wrap;
  }
}

.post_header {
  text-align: center;

  h2 {
    color: $postHeadFont;
    font-weight: bold;
  }

  ul {
    list-style-type: none;
  }

  ul > li {
    display: inline-block;
  }
}