<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="canonical" href="{{ page.url | replace: 'index.html', '' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- favicon -->
  <link rel="icon" href="{{ "/favicon.ico" | relative_url }}">

  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">


  <!-- style sheets here -->
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/markdown-style/" | append: site.markdown_style | append: '.css' | relative_url }}">
  <!-- normalize.css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" crossorigin="anonymous">

  <!-- javascript here -->
  <!-- jquery -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js" crossorigin="anonymous"></script> -->

  <!-- Font awesome -->
  <script src="https://use.fontawesome.com/9a561ba862.js"></script>
</head>
