* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background-image: url('/assets/images/global_bg.png');
  color: $normalFont;
  font-family: 'Didact Gothic', sans-serif;
  min-height: 100%;
  position: relative;
}

body {
  a {
    color: $linkFont;
    font-weight: bold;
  }

  a:hover {
    color: $linkHoverFont;
    text-decoration: none;
  }

  a:active {
    color: $linkFont;
  }
}