* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('/assets/images/global_bg.png');
  color: $normalFont;
  font-family: 'Muli', sans-serif;
}

a {
  color: $linkFont;
  text-decoration: none;
}

a:hover {
  color: $linkHoverFont;
}

a:active {
  color: $linkFont;
}

ul {
  list-style-type: none;
}