// Define the main color for this site.
$primaryColor: #fafafa;
$secondColor: #eee;

// Define the shadow color.
$shadowColor: #666;

// Define font color.
$normalFont: #666;
$postHeadFont: #333;
$postContentFont: #666;
$linkFont: #09c;
$linkHoverFont: #047;

$contentTitleFont: #047;
$contentTitleHoverFont: #036;

$footerRemarkWords: #333;

// Define tag bg color;
$tagBackgroundColor: #eee;


// For markdown resize.
// Define markdown color for override.
$blockquoteBGColor: #fff;
$blockquoteFontColor: #696;
$blockquoteBorderColor: #ade;

$listFontColor: #66a;

$codeFontColor: #800;