.footer {
  border-top: solid 1px #d1d1d1;
  height: 32px;
  line-height: 32px;
  text-align: center; }

.sidebar h3 {
  text-align: center; }
.sidebar .panel-heading {
  font-weight: bold; }

.sidebar_avator-container {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%; }

.sidebar_avator {
  border-radius: 50%;
  height: 96px;
  width: 96px; }

.sidebar_user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%; }

.sidebar_user-detail {
  text-align: center; }

.sidebar_social {
  text-align: center; }
  .sidebar_social i {
    margin: auto 5px; }
  .sidebar_social a {
    cursor: pointer; }
