---
layout: layout
---

<div class="base flex-container">
  <div class="sidebar">
    {% include sidebar.html %}
  </div>
  <div class="content">
    <div class="note container">
    <h3>*内容不尽完善：欢迎到<a href="https://github.com/zslucky/zslucky.github.io/issues">这里</a>提问，更欢迎提交PR帮助改进！改进流程->点<a href="https://github.com/zslucky/zslucky.github.io/tree/master/_posts">这里</a>->找到对应文章进行修改！万分感谢！愿与大家一同进步！</h3>
    </div>
    <div class="container content-container">
      {{content}}
    </div>
  </div>
</div>